# Android
*.iml
.gradle/
local.properties
.idea/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
.externalNativeBuild
.cxx/

# Sample App (optional - can be committed or ignored)
# SampleApp/

# Maven
repository/**/*.md5
repository/**/*.sha1
repository/**/*.module
